*node_modules/
*build/
*.lock
*.swo
*.swp
*.swn
*__pycache__*

Shuffle-*.json
backend/go-app/generated*

functions/generated_apps
*.zip

*openapi-parsers/generated/*
*openapi-parsers/other/*


backend/onprem/app_sdk/apps
*test.py

.env
docker-compose.override.yml
