*node_modules/
*build/
*.lock
*.swo
*.swp
*.swn
*__pycache__*

Shuffle-*.json
backend/go-app/generated*

functions/generated_apps
*.zip

*openapi-parsers/generated/*
*openapi-parsers/other/*


backend/onprem/app_sdk/apps
*test.py

*.exe
*debug*
!**/RuntimeDebugger.jsx

shuffle-database/batch_metrics_enabled.conf
shuffle-database/logging_enabled.conf
shuffle-database/nodes
shuffle-database/performance_analyzer_enabled.conf
shuffle-database/rca_enabled.conf

*/package-lock.json
