@import url("./css/nunito.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cm-tab::before{
  content: "———";
  margin-right: -13px;
}

table th, table td {
  border: 1px solid;
}
/* .cm-string{
  z-index: -1;
}

.CodeMirror-selected{
  background-color: #007500 !important;
  z-index: 100 !important;
} */

.CodeMirror-selectedtext{
  background-color: rgba(28, 47, 69, 0.6) !important;
  color: rgb(255, 255, 255) !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #494949;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(26,26,26);
}
