{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Downloads API","description":"The Downloads API allows you to access and download available Tenable products installation files and updates. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download latest version of a file to facilitate the automation of an installation.\n\n**Note:** Tenable Downloads API uses a different server URL than Tenable.io API: `https://www.tenable.com/downloads/api/v2/pages`.\n\n### Authentication\n\nThe Downloads API uses Bearer token authentication and requires a valid token in the Authorization header:\n```\nAuthorization: Bearer AbCdEf123456\n```\n\nTo access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api_docs) page."},"tags":[{"name":"Downloads","description":"The Downloads API allows you to access and download available Tenable products installation files and updates. You can use the API endpoints to list product pages, list downloads available for a specific product, and to download a file. The endpoints can also be used to determine and download latest version of a file to facilitate the automation of an installation.\n\n**Note:** Tenable Downloads API uses a different server URL than Tenable.io API: `https://www.tenable.com/downloads/api/v2/pages`.\n\n### Authentication\n\nThe Downloads API uses Bearer token authentication and requires a valid token in the Authorization header:\n```\nAuthorization: Bearer AbCdEf123456\n```\n\nTo access or reset your authentication token, navigate to the [Authentication Token](https://www.tenable.com/downloads/api_docs) page."}],"servers":[{"url":"https://www.tenable.com/downloads/api/v2"}],"components":{"securitySchemes":{"Bearer":{"type":"apiKey","in":"header","name":"Authorization","description":"Example: Bearer <token>"}},"schemas":{"Page":{"type":"object","properties":{"title":{"type":"string","description":"The name of the product.","example":"Nessus"},"page_slug":{"type":"string","description":"Product page slug, for example, `nessus`.","example":"nessus"},"description":{"type":"string","description":"The description of a product.","example":"Binary download files for Nessus Professional, Nessus Manager, and connecting Nessus Scanners to Tenable.io & Tenable.sc."},"files_index_url":{"type":"string","description":"The URL to list the product files available for download.","example":"https://www.tenable.com/downloads/api/v2/downloads/api/v2/pages/nessus"}}},"Download":{"type":"object","properties":{"file":{"type":"string","description":"The name of the file.","example":"Nessus-8.2.1-debian6_i386.deb"},"version":{"type":"string","description":"Product version.","example":"8.2.1"},"size":{"type":"integer","description":"The size of the file in bytes.","example":67331530},"release_date":{"type":"string","description":"Release date.","example":"01/24/2019"},"product_release_date":{"type":"string","description":"Product release date.","example":"01/24/2019"},"md5":{"type":"string","description":"The MD5 hash of the file.","example":"098f6bcd4621d373cade4e832627b4f6"},"sha256":{"type":"string","description":"The SHA256 hash of the file","example":"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"},"file_url":{"type":"string","description":"The URL to download the file.","example":"https://www.tenable.com/downloads/api/v2/downloads/api/v2/pages/nessus/files/Nessus-8.2.1-debian6_i386.deb"}}},"LatestDownload":{"type":"object","properties":{"file":{"type":"string","description":"The name of the file.","example":"Nessus-8.2.1-debian6_i386.deb"},"version":{"type":"string","description":"Product version.","example":"8.2.1"},"size":{"type":"integer","description":"The size of the file in bytes.","example":67331530},"release_date":{"type":"string","description":"Release date.","example":"01/24/2019"},"product_release_date":{"type":"string","description":"Product release date.","example":"01/24/2019"},"md5":{"type":"string","description":"The MD5 hash of the file.","example":"098f6bcd4621d373cade4e832627b4f6"},"sha256":{"type":"string","description":"The SHA256 hash of the file","example":"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"},"file_url":{"type":"string","description":"The URL to download the latest version of this file.","example":"https://www.tenable.com/downloads/api/v2/downloads/api/v2/pages/nessus/files/Nessus-latest-debian6_i386.deb"}}},"Releases":{"type":"object","properties":{"latest":{"properties":{"Product Name - X.X.X":{"type":"array","items":{"$ref":"#/components/schemas/LatestDownload"}}}},"Product Name - X.X.X":{"type":"array","items":{"$ref":"#/components/schemas/Download"}}}},"SigningKey":{"type":"object","properties":{"file":{"type":"string","description":"The name of the file.","example":"Tenable GPG Key - 2048 bit"},"size":{"type":"integer","description":"The size of the file in bytes.","example":1764},"md5":{"type":"string","description":"The MD5 hash of the file.","example":"098f6bcd4621d373cade4e832627b4f6"},"sha256":{"type":"string","description":"The SHA256 hash of the file.","example":"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"},"file_url":{"type":"string","description":"The URL to download the file.","example":"https://www.tenable.com/downloads/api/v2/downloads/api/v2/pages/nessus/files/tenable-2048.gpg"}}},"NotFound":{"type":"object","properties":{"message":{"type":"string","description":"Not Found","example":"Page Not Found"}}},"Unauthorized":{"type":"object","properties":{"message":{"type":"string","description":"Unauthorized","example":"Unauthorized"}}},"InternalServerError":{"type":"object","properties":{"message":{"type":"string","description":"Server Error","example":"Server Error"}}}}},"security":[{"Bearer":[]}],"x-samples-languages":["python","curl","node","powershell","ruby","javascript","objectivec","java","php","csharp","go","swift","kotlin"],"paths":{"/pages":{"get":{"summary":"List product pages","description":"Returns a list of product pages.","tags":["Downloads"],"responses":{"200":{"description":"An array of product pages.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Page"}},"examples":{"response":{"value":[{"title":"Nessus","page_slug":"nessus","description":"Binary download files for Nessus Professional, Nessus Manager, and connecting Nessus Scanners to Tenable.io & Tenable.sc.\n","files_index_url":"https://www.tenable.com/downloads/api/v2/pages/nessus"}]}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"},"examples":{"response":{"value":{"message":"Unauthorized"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"},"examples":{"response":{"value":{"message":"Server Error"}}}}}}}}},"/pages/{slug}":{"get":{"summary":"List downloadable files for a product","description":"Returns a JSON hash of all download files for a given product page.","tags":["Downloads"],"parameters":[{"in":"path","name":"slug","schema":{"type":"string"},"required":true,"description":"Product page slug, for example, `nessus`."}],"responses":{"200":{"description":"A JSON hash of releases for a given product","content":{"application/json":{"schema":{"type":"object","properties":{"releases":{"$ref":"#/components/schemas/Releases"},"signing_keys":{"type":"array","items":{"$ref":"#/components/schemas/SigningKey"}}}},"examples":{"response":{"value":{"releases":{"latest":{"Product Name - X.X.X":[{"file":"Nessus-8.2.1-debian6_i386.deb","version":"8.2.1","size":67331530,"release_date":"01/24/2019","product_release_date":"01/24/2019","md5":"098f6bcd4621d373cade4e832627b4f6","sha256":"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08","file_url":"https://www.tenable.com/downloads/api/v2/pages/nessus/files/Nessus-latest-debian6_i386.deb"}]},"Product Name - X.X.X":[{"file":"Nessus-8.2.1-debian6_i386.deb","version":"8.2.1","size":67331530,"release_date":"01/24/2019","product_release_date":"01/24/2019","md5":"098f6bcd4621d373cade4e832627b4f6","sha256":"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08","file_url":"https://www.tenable.com/downloads/api/v2/pages/nessus/files/Nessus-8.2.1-debian6_i386.deb"}]},"signing_keys":[{"file":"Tenable GPG Key - 2048 bit","size":1764,"md5":"098f6bcd4621d373cade4e832627b4f6","sha256":"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08","file_url":"https://www.tenable.com/downloads/api/v2/pages/nessus/files/tenable-2048.gpg"}]}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"},"examples":{"response":{"value":{"message":"Unauthorized"}}}}}},"404":{"description":"Page Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"},"examples":{"response":{"value":{"message":"Page Not Found"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"},"examples":{"response":{"value":{"message":"Server Error"}}}}}}}}},"/pages/{slug}/files/{file}":{"get":{"summary":"Download a file","description":"Downloads a requested file.","tags":["Downloads"],"parameters":[{"in":"path","name":"slug","schema":{"type":"string"},"required":true,"description":"Product page slug, for example, `nessus`."},{"in":"path","name":"file","schema":{"type":"string"},"required":true,"description":"File name, for example,. `Nessus-latest-x64.msi`."}],"responses":{"200":{"description":"Requested file"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"},"examples":{"response":{"value":{"message":"Unauthorized"}}}}}},"404":{"description":"File or Page Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"},"examples":{"response":{"value":{"message":"Page Not Found"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"},"examples":{"response":{"value":{"message":"Server Error"}}}}}}}}}},"x-explorer-enabled":true,"x-proxy-enabled":true,"x-samples-enabled":true}